nav{
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 30px;
    width: 100%;
}

nav ul{
    justify-content: center;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color:rgb(247, 223, 15);
    background-color: #275303;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background 1s, color 1s;
}